.background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eb8934; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom left, #fa93be, #eb8934);
}
.formContainer{
    height: 30vh;
    width: 25vw;
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 2vh;
}
.personImg {
    height: 10vh;
    width: 10vh;
}
.loginBtn {
    background-image: linear-gradient(to right, #eb8934 0%, #f076a9 51%, #eb8934 100%);
    color: white;
    font-weight: bold;
    width: 16rem;
    height: 2rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 0.5vh;
    font-size: 1.2rem;
    border: none;
    transition: all 0.3s ease-in-out;
}
.loginBtn:hover {
    background-position: right center; /* change the direction of the change here */
    cursor: pointer;
    transform: scale(1.07);
}
input{
    height: 5.8vh;
    width: 22vw;
    background: rgb(231, 228, 228);
    font-size: 2.5vh;
    border-radius: 0.5vh;
    border: none;
    text-indent: 0.6vw;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.7vh;
}
span{
    color: white;
}

input:focus {
    outline: none;
    border-color: #eb8934;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1.7vh;
}

span {
    color: white;
    font-weight: bold;
}

.registerText {
    color: #eb8934;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
  }
  
  .registerText:hover {
    text-decoration: underline;
  }